@font-face {
    font-family: '等线';
    src: url('../fonts/Deng.ttf'),
    url('../fonts/Deng.ttf'); /* IE9 */
}
body{
     position: relative;
 }
#home .FigureImg{
    position: absolute;
    left: 900px;
    top:60px;
}
/*#home{*/
/*    margin-bottom: 20px;*/
/*}*/
.home-font{
    margin-left: 90px;
    font-family: '等线';
    color: #827876;
}
@media screen and (max-width: 480px){
    #home .FigureImg{
        position: static
    }
    #home .row .FigureImg{
        margin-top: 20px;
    }
    #home .row .home-font{
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }
}